/* Encesa gradual d'un LED */

// definició de valors constants:
const int PinLed = 10;  // pin PWM de connexió LED
const int temps = 100; // temps

// definició de variables:
int intensitat = 0;  // valor PWM de sortida cap al LED

// configuració:
void setup() 
{
    // els pins PWM no s’han de configurar
}
